body{
    background-color: hsl(217, 54%, 11%);
}
main{
    background-color:hsl(216, 50%, 16%);
    background-size: 150px;
    border: 25px solid hsl(216, 50%, 16%);
    border-radius: 10px;
    max-width: 300px;
    max-height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    margin-bottom: 50px;
    
}

span{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}
img{
    max-width: 100%;
  display: block;
}

.image1{ 
    border-radius: .25em;
   
}
.image2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header:hover{
    background-image: url("icon-view.svg");
    background-repeat: no-repeat;
    display: flex;
    border-radius: .25em;
    position: relative;
}  
.header div{
    position: absolute;
    top: 0;
    background-color: hsl(180, 100%, 50%, 60%);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: .25em;

}

#t1{
    max-width: 27px;
    border: 2px solid white;
    border-radius: 15px;
    margin-right: 15px;
   

}

.b1{
    display:flex;
    align-items: center;
}
.b2{ 
    display:flex;
    align-items: center;
    margin-left: 95px;
    
}


h1{
    font-family:sans-serif;
    color: white;
    line-height: 1.4;
}
a:hover{
    color: hsl(178, 100%, 50%);
}
p{
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:1.4 ;
    font-size: 19px;
    
}
.b3{
    display:flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 2px;
    font-family: Monospace;
 
}
#b4{
    margin-top: px;
    color:white;
}    
#box{
    display:flex;
    align-content:space-between;
    margin-bottom: 20px;
}
hr{
    border-color: hsl(215, 32%, 27%);
}

/*.header:hover{
   background-image: url("icon-view.svg");
   background-repeat: no-repeat;
   display: flex;
}*/

